{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block body %}
<form method="POST">
    <br>
    <h1 align="center">Search User</h1>
    <div class="form-group">
        <label for="query">Username</label>
        <input type="text" id="query" name="query" class="form-control" placeholder="Enter Username" />
        <br>
        <div align="center">
            <button class="btn btn-primary">Search</button>
        </div>
    </div>
</form>
{% if results %}
<hr>
<br>
<div class="container text-center">
    {% for user1 in results %}
    <div class="row">
        <div class="col">
            <a href="/user/{{ user1.username }}" style="text-decoration: none;">
                {{ user1.username }}
            </a>
        </div>
        <div class="col-md-auto">
        </div>
        {% if user1.id in follow_list %}
        <div class="col">
            {% if user1.id != current_user.id %}
            <a href="/unfollow/{{ user1.username }}" class="btn btn-outline-primary btn-sm" align="right">Unfollow</a>
            {% endif %}
        </div>
        {% else %}
        <div class="col">
            {% if user1.id != current_user.id %}
            <a href="/follow/{{ user1.username }}" class="btn btn-outline-primary btn-sm" align="right">Follow</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}